@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Bellefair&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
header {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../assets/destination/background-destination-desktop.jpg);
  padding: 40px 0 118px;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
nav {
  position: relative;
  width: 100%;
  padding: 24px 0 24px 55px;
  align-items: center;
  z-index: 100;
  max-width: 100%;
  padding: 39px 0 38px;
}
nav::after {
  content: "";
  width: 59%;
  height: 96px;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.1);
  top: 15px;
  right: 0;
  backdrop-filter: blur(50px);
  position: absolute;
}
ul {
  list-style: none;
}
.navlist {
  display: flex;
  list-style: none;
  gap: 50px;
  position: relative;
}
.navlist::before {
  content: "";
  width: 450px;
  height: 1px;
  background-color: white;
  position: absolute;
  opacity: 0.3;
  left: -530px;
  top: 50%;
}
.navlist .link:nth-child(1) a:hover{
  border-bottom: 3px solid white;
}
.navlist .link:nth-child(2) a{
  border-bottom: 3px solid white;
}
.navlist .link:nth-child(1){
  border: none;
}
.logo {
  transform: translateX(-110px);
}
#check {
  display: none;
}
.icons {
  display: none;
}
.nav_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link span {
  color: white;
  font-family: Barlow Condensed;
  font-weight: 700;
  letter-spacing: 2.7px;
  margin-right: 11px;
}
.link a {
  color: white;
  font-family: Barlow Condensed;
  letter-spacing: 2.7px;
  padding-bottom: 34px;
  position: relative;
}
.link a:hover {
  border-bottom: 3px solid white;
}
.header_content {
  padding-top: 175px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header_text {
  max-width: 445px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.header_text ul {
  display: flex;
  align-items: center;
  gap: 35px;
}
.destination_link a {
  color: #d0d6f9;
  font-family: Barlow Condensed;
  letter-spacing: 2.7px;
  padding-bottom: 12px;
}
.destination_link a:hover {
  border-bottom: 3px solid white;
  color: white;
}
.header_text h1 {
  align-items: flex-start;
  color: white;
  font-size: 100px;
  font-family: Bellefair;
  font-weight: 400;
  margin: 37px 0 14px;
}
.header_text > p {
  color: #d0d6f9;
  text-align: left;
  font-size: 18px;
  font-family: Barlow;
  line-height: 32px;
}
.header_text > p::after {
  display: block;
  content: "";
  width: 445px;
  height: 1px;
  background: #383b4b;
  margin-top: 54px;
  margin-bottom: 28px;
}
.information_boxes {
  display: flex;
  align-items: center;
  gap: 80px;
}
.info_box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}
.info_box p {
  color: #d0d6f9;
  font-size: 14px;
  font-family: Barlow Condensed;
  text-transform: uppercase;
  letter-spacing: 2.36px;
}
.info_box h2 {
  color: white;
  font-size: 28px;
  font-family: Bellefair;
  font-weight: 400;
  text-transform: uppercase;
}
.header_content > p {
  position: absolute;
  top: 76px;
  left: -28px;
  color: white;
  font-size: 28px;
  font-family: Barlow Condensed;
  text-transform: uppercase;
  letter-spacing: 4.72px;
}
.header_content > p span {
  color: white;
  opacity: 0.25;
  font-size: 28px;
  font-family: Barlow Condensed;
  font-weight: 700;
  letter-spacing: 4.72px;
  margin-right: 28px;
}
@media screen and (max-width: 1350px) {
  .logo {
    transform: translateX(0);
  }
  .header_btn button {
    transform: translate(-50px, 50px);
  }
  .navlist::before {
    display: none;
  }
}
@media screen and (max-width: 1150px) {
  .container {
    max-width: 90%;
  }
  .link span {
    display: none;
  }
}
@media screen and (max-width: 1030px) {
  header {
    background-image: url(../assets/destination/background-destination-tablet.jpg);
    background-position: center;
  }
  .header_content {
    flex-direction: column;
    gap: 53px;
  }
  .header_text {
    align-items: center;
    max-width: 573px;
  }
  .header_text > p {
    text-align: center;
    font-size: 16px;
    line-height: 28px;
  }
  .header_text > p::after {
    width: 100%;
    margin: 49px 0 28px;
  }
}
@media screen and (max-width: 900px) {
  .header_content > p {
    top: 40px;
    font-size: 20px;
    letter-spacing: 3.38px;
    left: 0;
  }
  .header_content > p span {
    margin-right: 19px;
    font-size: 20px;
    letter-spacing: 3.38px;
  }
  header {
    padding: 0 0;
  }
  .header_content {
    padding: 126px 0 62px;
  }
  .header_img {
    max-height: 300px;
    max-width: 300px;
  }
  .nav_content {
    align-items: center;
    padding: 24px 0;
  }
  nav::after {
    top: 0;
  }
  .navlist {
    gap: 37px;
  }
  .link a {
    font-size: 14px;
    letter-spacing: 2.36px;
  }
  nav {
    padding: 0;
  }
  .header_text h1 {
    font-size: 80px;
    margin: 32px 0 8px;
  }
}
@media screen and (max-width: 700px) {
  .logo img {
    width: 40px;
    height: 40px;
  }
  nav::after {
    display: none;
  }
  .icons {
    display: block;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 101;
  }
  #close_bar {
    display: none;
  }
  #check:checked ~ .icons #menu_bar {
    display: none;
  }
  #check:checked ~ .icons #close_bar {
    display: inline-flex;
  }
  nav {
    position: relative;
  }
  .navlist {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.55px);
    width: 0;
    gap: 32px;
    z-index: 100;
    overflow: hidden;
    transition: 0.3s;
  }
  #check:checked ~ .navlist {
    width: 254px;
  }
  .link span {
    display: inline-block;
    margin-right: 11px;
  }
  .link:nth-child(1) {
    margin-top: 118px;
  }
  .link {
    margin-left: 32px;
    word-break: keep-all;
    width: 222px;
  }
  .link a {
    font-size: 16px;
    width: 222px;
    padding-bottom: 5px;
  }
}
@media screen and (max-width: 500px) {
  header{
    background-image: url(../assets/destination/background-destination-mobile.jpg);
  }
  .header_content ul {
    gap: 26px;
  }
  .header_img {
    max-height: 200px;
    max-width: 200px;
  }
  .header_content {
    padding: 34px 0 57px;
    gap: 26px;
  }
  .header_content > p {
    position: relative;
    top: 0;
    font-size: 16px;
    letter-spacing: 2.7px;
  }
  .header_content > p span {
    font-size: 16px;
    margin-right: 18px;
    letter-spacing: 2.7px;
  }
  .destination_link a {
    font-size: 14px;
    letter-spacing: 2.36px;
  }
  .header_text h1 {
    font-size: 56px;
    margin: 20px 0 1px;
  }
  .header_text > p {
    font-size: 15px;
    line-height: 25px;
  }
  .header_text > p::after {
    margin: 32px 0;
  }
  .information_boxes {
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
  .info_box {
    text-align: center;
    align-items: center;
    gap: 12px;
  }
}
